
# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /marc-school-primary/

# ------------------------------------------------------------ SITE----------------------------------------------------------------------

# ------------------------------------------------------------ SITE----------------------------------------------------------------------

# ------------------------------------------------------------ ADMINISTRATEUR----------------------------------------------------------------------
#####page index
RewriteRule ^res_index_admin$ admin/admin/index.php?action=connexion
# ------------------------------------------------------------ ADMINISTRATEUR----------------------------------------------------------------------
RewriteRule ^res_index_application$ Sadmin/Sadmin/index.php?action=connexion 

RewriteRule ^res_connexion$ services/membres.services.php?action=connexion 

RewriteRule ^res_preinscription$ services/membres.services.php?action=preinscription 

RewriteRule ^res_modif_profil$ services/membres.services.php?action=modif_profil 

####################################################################################################types_concours.services.php
RewriteRule ^res_liste_types_concours$ services/types_concours.services.php?action=liste_types_concours 

####################################################################################################matieres en fonction des concours
RewriteRule ^res_liste_matieres/([0-9]+)/?$ services/types_concours.services.php?action=liste_matieres&id_concours=$1 

####################################################################################################concours_matieres_questions_reponses
RewriteRule ^res_epreuve/([0-9]+)/?$ services/concours.services.php?action=epreuve&id_concours=$1 

####################################################################################################insertion des notes du membre
RewriteRule ^res_compositions$ services/notes.services.php?action=save_notes&id_membres=$1  [NC,L]


####################################################################################################liste des notes du membre en fonction des concours composés
RewriteRule ^res_notes_membres/([0-9]+)/?$ services/notes.services.php?action=notes_membres&id_membres=$1 


RewriteRule ^res_epreuve2/([0-9]+)/?$ services/concours.services.php?action=epreuve2&id_concours2=$1 

####################################################################################################liste des notes du membre en fonction des concours composés
RewriteRule ^res_resultat_concours$ services/notes.services.php?action=resultat_concours

</IfModule>